/* font  */
/* noto serif  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Noto Serif", serif; */

/* inter font  */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
  /* font-family: "Inter", sans-serif; */

  /* badge animation  */

.badge {
  display: inline-block;
  font-weight: bold;
  font-size: 1.2rem;
  animation: spin 4.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}